@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 90vh;
  max-height: calc(100vh - env(safe-area-inset-bottom));
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  background-color: #ffbf0b;
}

.container {
  position: relative;
  display: flex;
  height: auto;
  width: 100vw;
  max-width: 768px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: 600;
}

.sub-title {
  font-size: 12px;
}

.grid-inputs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-inputs-container h4 {
  font-size: 18px;
}

.grid-inputs-form {
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

input[type="range"] {
  width: 100%;
}

.output-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  border: dashed black;
}

.output-container.borderless {
  border: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.output-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.output-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container-grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  position: relative;
}

.preview-image {
  height: auto;
  width: 100%;
}

.preview-image img {
  max-height: auto;
  width: 100%;
}

.output-canvas {
  position: auto;
  display: block;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 3rem;
  width: 100%;
  cursor: pointer;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input-styler {
  position: relative;
  padding: 2rem;
  width: 100%;
  height: 4rem;
  background: #fe006e;
  border-radius: 20px;
}

.input-styler-text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-weight: 600;
  color: black;
}

.input-styler.loading {
  pointer-events: none;
}

.block {
  height: 100%;
  z-index: 1000;
}

.hidden {
  display: none;
  pointer-events: none;
}

.toast {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  width: auto;
  padding: 2rem 4rem;
  height: 5rem;
  font: white;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 20px;
  font-weight: 600;
  transition: 250ms ease-in-out;
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028), 0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
}

.toast.hidden {
  transform: translateX(-50%) translateY(calc(-100% - 6rem));
}

.shadow {
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 6.7px 5.3px rgba(0, 0, 0, 0.028), 0px 12.5px 10px rgba(0, 0, 0, 0.035),
    0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0px 41.8px 33.4px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
}
