@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Roboto Mono", monospace;
	display: flex;
	justify-content: center;
	background-color: #ffbf0b;
}

.container {
	position: relative;
	display: flex;
	height: auto;
	width: 100vw;
	max-width: 768px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	padding: 2rem;
}

.output-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 80vh;
	width: 100%;
	overflow-y: scroll;
}

.container-grid {
	width: auto;
	display: grid;
	grid-template-columns: repeat(4, 50px);
	position: relative;
}

.preview-image {
	height: auto;
	width: 100%;
}

.preview-image img {
	max-height: auto;
	width: 100%;
}

.output-canvas {
	position: auto;
	max-height: 100%;
	display: block;
}

.buttons {
	/* position: fixed; */
	display: flex;
	align-items: center;
	flex-direction: column;
	bottom: 3rem;
	width: 100%;
	cursor: pointer;
}

input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.input-styler,
.submit-styler {
	position: relative;
	padding: 2rem;
	width: 100%;
	height: 4rem;
	background: #fe006e;
	border-radius: 20px;
}

.input-styler-text,
.submit-styler-text {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	font-weight: 600;
	color: black;
}

.title {
	font-size: 600;
}

.block {
	height: 100%;
	z-index: 1000;
}

.hidden {
	display: none;
	pointer-events: none;
}
